@import "bootstrap";


/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
  height:100%;
  background: -webkit-linear-gradient(#FBFBEF 20%, #CEF6CE, #A9F5E1);
  background: -o-linear-gradient(#FBFBEF 20%, #CEF6CE, #A9F5E1);
  background: -moz-linear-gradient(#FBFBEF 20%, #CEF6CE, #A9F5E1);
  background: linear-gradient(#FBFBEF 20%, #CEF6CE, #A9F5E1);
  min-height:630px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

a:hover { background:none; border: 1px solid white; }

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #999;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
  }

  /* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  letter-spacing: -1px;
  padding: 10px;
  font-weight: bold;
  line-height: 1;
  margin: 3px 0 0 0;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

footer {
  position:fixed;
  bottom:0;
  width:100%;
  color:#8A2908;
  background:#35BA46;
  margin:auto;
  padding:26px 70px 10px 70px;
  font-weight:bold;
}

footer a {
  color: white;
  font-size:14px;
  font-weight:bold;
  padding:10px;
}

footer a:hover {
  background:none;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}

/*  Custom css */
.nav li { float:left; }

.nav li a { margin:5px 0 0 0 }

.left { float:left; }

.right { float:right; }

.navbar-inverse {
  background-color:#35BA46;

  a {
    color:white;
    font-weight:bold;
  }

  a:hover {
  background:none !important;
  font-size:16px;
  }
}


/* sidebar */

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid gray;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  display:block;
  margin-bottom: 15px;
  @include box_sizing;
  width:100%;
}

input {
  height: auto !important;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  background:none !important;
  display:block !important;
}

#new_user { width:300px; margin:auto; }
body > .container { padding-bottom:74px; }